html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 1em;
}

html {
    font-size: 100%;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
}

p {
    margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: 4.209em;
    font-weight: bolder;
}

h2 {
    font-size: 3.157em;
}

h3 {
    font-size: 2.369em;
}

h4 {
    font-size: 1.777em;
}

h5 {
    font-size: 1.333em;
}

small, .text_small {
    font-size: 0.75em;
}

#sudoku {
    border-collapse: collapse;
}

#sudoku td {
    width: 50px;
    height: 50px;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#sudoku td:hover,
#sudoku td:focus {
    background-color: #b7e8ff;
    cursor: pointer;
    outline: none;
}

#sudoku td:first-child {
    border-left: 3px solid #333333;
}

#sudoku tr:first-child td {
    border-top: 3px solid #333333;
}

#sudoku td:last-child,
#sudoku td:nth-child(3),
#sudoku td:nth-child(6) {
    border-right: 3px solid #333333;
}

#sudoku tr:last-child td,
#sudoku tr:nth-child(3) td,
#sudoku tr:nth-child(6) td {
    border-bottom: 3px solid #333333;
}

.secondary {
    background-color: #EDEDED;
}

button {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3369ff;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1953fd;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

button svg {
    width: 1.1em;
    height: 1.1em;
    vertical-align: bottom;
}

.bottom-2 {
    margin-bottom: 2em;
}

.overlay {
    position: fixed;
    display: grid;
    place-items: center;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.modal {
    position: absolute;
    z-index: 3;
    width: 50%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #333333;
    visibility: hidden;
}

.modal .close {
    display: inline-block;
    background-color: #333333;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #333333;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 4;
}

.modal .close svg {
    width: 13px;
    height: 13px;
    stroke-width: 4;
    margin: 0;
    padding: 0;
}

.modal .content {
    position: relative;
    padding: 10px;
}

.modal .content h5 {
    margin-top: 0;
    letter-spacing: normal;
    font-weight: bold;
}

.modal .content textarea {
    resize: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    border: none;
    height: 5em;
}

/*.modal .close {*/
/*    position: absolute;*/
/*    font-style: normal;*/
/*    font-size: 1em;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*    background-color: #333333;*/
/*    color: white;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    text-align: center;*/
/*    line-height: 20px;*/
/*    vertical-align: middle;*/
/*    right: -10px;*/
/*    top: -10px;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/